#header {
margin: 10px;
}
img {
height:100%;
width:100%;
overflow:hidden;
}

div {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
div span {
display:none;
}

.card {
margin: 20px;
border: solid black;
background:url(http://cdn2.hark.com/images/000/006/667/6667/original.0);
background-size:100% 100%;
background-repeat:no-repeat;
opacity: .70;
width:200px;
height:300px;
float: left;
}

.card img {
display:none;
}

.cardFace {
border: dotted red;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
opacity:1;
}

.cardFace img{
display:inline;
}

.matched img {
border: dotted blue;
background-color: green;
display:inline;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
opacity:1;
}

.footer {
margin: 10px;
}
