header {
margin: 10px 0 10px 0px;
}
img {
height:100%;
width:100%;
overflow:hidden;
}

div {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

div span {
display:none;
}

.card {
margin: 10px;
border: solid black;
background:url(http://cdn2.hark.com/images/000/006/667/6667/original.0);
background-size:100% 100%;
background-repeat:no-repeat;
opacity: .60;
width:200px;
height:300px;
float: left;
}

.card img {
display:none;
}

.cardFace {
border: dotted red;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
opacity:1;
}

.cardFace img{
display:inline;
}

.matched {
border: dotted green;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
opacity:.9;
}

.matched img {
display:inline;
}

footer {
margin: 30px;
float: right;
}
